html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  padding: 40rem 2rem;
  max-height: 100vh;
  font-size: 15px;
  background: #090b1a;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  background: #1b1938;
  border-radius: 1rem; }
  @media screen and (min-width: 728px) {
    .container {
      flex-direction: row-reverse;
      height: 100%;
      justify-content: space-around; } }

.desktop-img {
  display: none; }
  @media screen and (min-width: 728px) {
    .desktop-img {
      display: block;
      border-radius: 0 1rem 1rem 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
      opacity: 0.5;
      position: relative; } }

.mobile-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: relative;
  border-radius: 1rem 1rem 0 0; }
  @media screen and (min-width: 728px) {
    .mobile-img {
      display: none; } }

.text-container {
  order: 2; }

.img-container {
  order: 1;
  background: rgba(170, 92, 219, 0.6);
  display: grid;
  border-radius: 1rem 1rem 0 0; }
  @media screen and (728px) {
    .img-container {
      border-radius: 0 1rem 1rem 0; } }

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif; }
  @media screen and (min-width: 728px) {
    .text-container {
      text-align: left;
      align-items: left;
      justify-content: left; } }

.text-container__heading {
  color: #fff;
  padding: 0 2rem;
  font-weight: 700;
  margin: 4rem 0 0 0; }
  @media screen and (min-width: 728px) {
    .text-container__heading {
      padding: 2rem;
      margin: 0;
      text-align: left;
      display: flex;
      justify-content: left;
      align-items: left;
      align-content: left; } }

.text-container__heading span {
  color: rgba(170, 92, 219, 0.6);
  margin: 0 1rem; }

.text-container__paragraph {
  color: rgba(255, 255, 255, 0.75);
  padding: 0 4rem;
  line-height: 1.6; }
  @media screen and (min-width: 728px) {
    .text-container__paragraph {
      padding: 0;
      margin: 0;
      padding: 2rem; } }

.text-container__stats {
  margin: 0 0 2rem 0;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Lexend Deca", sans-serif; }
  @media screen and (min-width: 728px) {
    .text-container__stats {
      display: flex;
      justify-content: center;
      margin: 0; } }

.stats-title {
  color: #fff; }

.stats-block {
  text-align: left;
  margin: 2rem;
  justify-content: center; }
  @media screen and (min-width: 728px) {
    .stats-block {
      margin: 0;
      margin: 0 2rem; } }

.stats-text {
  margin: 0; }
